.idea/
build/
dist/
docs/

node_modules/
*config.js
!vite.config.js
dev.config.js


tags
tags.lock
tags.temp

.eslintcache

src/\.DS_Store
src/assets/fonts

\.DS_Store

package-lock.json
tags
.*/
.env.local
/docs/cowrie-sessioni.md
# Large datasets
public/*.large.json

__pycache__/
*.pyc
backend/data